<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layouts.html :: common_head(~{::title})">
    <title>Students</title>
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="layout/layouts.html :: header"></header>

<main class="mb-auto">
    <div class="container text-center">
        <!-- сообщение -->
        <div th:if="${message != null}" class="alert alert-success">
            [[${message}]]
        </div>
        <h2>Students</h2>
        <div class="row mb-2">
            <!-- ссылка на добавление нового студента -->
            <div class="col-6 d-flex justify-content-start">
                <a th:href="@{/students/new}" class="btn btn-success"
                   sec:authorize="hasAuthority('CREATE_STUDENT')">
                    Add student
                </a>
            </div>
            <!-- фильтр -->
            <div class="col-6 d-flex justify-content-end">
                <form method="get" action="/students">
                    <label>
                        <input type="text" class="form-control" name="containsFilter" th:value="${containsFilter}"/>
                    </label>
                    <button class="btn btn-success">Find</button>
                </form>
            </div>
        </div>
        <!-- вывод списка студентов в виде таблицы + bootstrap -->
        <table class="table table-bordered bg-light">  <!-- шапка таблицы -->
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Group</th>
                <th sec:authorize="hasAnyAuthority('READ_STUDENT', 'READ_ASSESSMENT',
                'UPDATE_STUDENT', 'DELETE_STUDENT')">
                    Action
                </th>
            </tr>
            </thead>  <!-- тело таблицы -->
            <tbody>    <!-- цикл -->
            <th:block th:each="student: ${studentsList}">
                <tr>
                    <td>[[${student.id}]]</td>
                    <td>[[${student.firstName}]]</td>
                    <td>[[${student.lastName}]]</td>
                    <td th:text="${student.group == null ? 'NONE' : student.group.groupName}"/>
                    <td sec:authorize="hasAnyAuthority('READ_STUDENT', 'READ_ASSESSMENT',
                    'UPDATE_STUDENT', 'DELETE_STUDENT')">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Select
                            </button>
                            <ul class="dropdown-menu">
                                <li sec:authorize="hasAuthority('READ_STUDENT')">
                                    <a th:href="@{|/students/details/${student.id}|}" class="dropdown-item">
                                        Details
                                    </a>
                                </li>
                                <li sec:authorize="hasAuthority('READ_ASSESSMENT')">
                                    <a th:href="@{|/students/assessments/${student.id}|}" class="dropdown-item">
                                        Assessments
                                    </a>
                                </li>
                                <li sec:authorize="hasAuthority('UPDATE_STUDENT')">
                                    <a th:href="@{|/students/update/${student.id}|}" class="dropdown-item">
                                        Update
                                    </a>
                                </li>
                                <li sec:authorize="hasAuthority('DELETE_STUDENT')">
                                    <a th:href="@{|/students/delete/${student.id}|}" class="dropdown-item">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>

<footer th:replace="layout/layouts.html :: footer"></footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>