<!DOCTYPE html>
<html lang="en">
<!-- фрагмент хеда -->
<head th:fragment="common_head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">The awesome application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
>
<body>

<!-- фрагмент хедера -->
<header th:fragment="header" class="sticky-top bg-secondary">
    <div class="container fs-5 fw-bold">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/students}">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/groups}">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/subjects}">Subjects</a>
            </li>
        </ul>
    </div>
</header>
<!-- фрагмент футера -->
<footer class="footer bg-secondary text-light sticky-bottom py-2" th:fragment="footer">
    <div class="container-fluid text-center fs-5 fw-bold">
        Created by A. Naidenov 2022 &copy;
    </div>
</footer>
</body>
</html>