<!DOCTYPE html>
<html lang="en">
<!-- фрагмент хеда -->
<head th:fragment="common_header(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">The awesome application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>>
<body>

<!-- фрагмент хедера -->
<div th:fragment="navs">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/students}">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/groups}">Groups</a>
        </li>
    </ul>
</div>
<!-- фрагмент футера -->
<div class="container-fluid text-center fixed-bottom text-bg-dark"
     th:fragment="footer">
    <h4>Created by A. Naidenov 2022 &copy;</h4>
</div>
</body>
</html>