<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- фрагмент хеда -->
<head th:fragment="common_head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">The awesome application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
>
<body>

<!-- фрагмент хедера -->
<header th:fragment="header" class="sticky-top bg-secondary">
    <div class="container-fluid fs-5 fw-bold">
        <div class="row">
            <div class="col-8">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/students}">Students</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('USER')">
                        <a class="nav-link text-light" th:href="@{/groups}">Groups</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('USER')">
                        <a class="nav-link text-light" th:href="@{/subjects}">Subjects</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 btn-group-vertical">
                <ul class="nav justify-content-start h-80">
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn-authorize nav-link" th:href="@{/login}">Sign in</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn-authorize nav-link">Sign out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- фрагмент футера -->
<footer class="footer bg-secondary text-light sticky-bottom py-2" th:fragment="footer">
    <div class="container-fluid text-center fs-5 fw-bold">
        Created by A. Naidenov 2022 &copy;
    </div>
</footer>
</body>
</html>