<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layouts.html :: common_head(~{::title})">
  <title>Students</title>
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="layout/layouts.html :: header"></header>

<main class="mb-auto">
  <div class="container text-center justify-content-center col-3">
    <h2>Subjects</h2>
    <div class="row mb-2">
      <!-- фильтр -->
      <div class="col-12 d-flex justify-content-end">
        <form method="get" th:action="@{/subjects}">
          <label>
            <input type="text" class="form-control" name="containsFilter" th:value="${containsFilter}"/>
          </label>
          <button class="btn btn-success">Find</button>
        </form>
      </div>
    </div>
    <!-- вывод списка предметов в виде таблицы + bootstrap -->
    <table class="table table-bordered bg-light">  <!-- шапка таблицы -->
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Subject Name</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="subject: ${subjectsList}">
        <tr>
          <td>[[${subject.id}]]</td>
          <td>[[${subject.subjectName}]]</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</main>

<footer th:replace="layout/layouts.html :: footer"></footer>

</body>
</html>