<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to Students Application</h1>
    <div class="row">
        <a th:href="@{/students}">Manage students</a>
        <a th:href="@{/groups}">Manage groups</a>
    </div>
</div>

<footer class="footer mt-auto" th:insert="layout/layouts.html :: footer"></footer>

</body>
</html>