<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layouts.html :: common_head(~{::title})">
    <title>Home Page</title>
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="layout/layouts.html :: header"></header>

<main class="mb-auto mt-2">
    <div class="container-fluid text-center">
        <h1>Welcome to Students Application</h1>
    </div>

    <div class="row">
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>test</label>
        <label>long test</label>
    </div>

</main>

<footer th:replace="layout/layouts.html :: footer"></footer>

</body>
</html>