<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layouts.html :: common_head(~{::title})">
  <title>Assessments</title>
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="layout/layouts.html :: header"></header>

<main class="mb-auto">
  <div class="container text-center justify-content-center col-5">
    <div class="row">
      <!-- сообщение -->
      <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
      </div>
      <h2>Assessments of [[${student}]]</h2>
      <!-- вывод списка оценок для студента в виде таблицы + bootstrap -->
      <table class="table table-bordered">  <!-- шапка таблицы -->
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Assessment</th>
          <th>Date</th>
          <th>Subject</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="assessment: ${assessmentList}">
          <tr>
            <td>[[${assessment.id}]]</td>
            <td>[[${assessment.assessmentValue}]]</td>
            <td>[[${#dates.format(assessment.date, 'dd.MM.yyyy')}]]</td>
            <td>[[${assessment.subject.subjectName}]]</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  Select
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a th:href="@{'/students/assessments/' + ${student.id} + '/delete/' + ${assessment.id}}" class="dropdown-item">
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>
      <!-- ссылка на добавление новой группы -->
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <a th:href="@{'/students/assessments/' + ${student.id} + '/new'}" class="btn btn-success">Add Assessment</a>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:replace="layout/layouts.html :: footer"></footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>